html{
    font-size: 62.5%;
}

.menu-nav__item .contactame{
    color:red;
}

.titulo{
    font-size: 7rem;
    position:relative;
    left:5rem;
}

.parrafo{
    font-size: 3rem;
    position:relative;
    left:5rem;
}

.formulario{
    background-color: rgb(255, 0, 0);
    font-size: 2rem;
    padding: 2rem;
    margin: left auto;
    width: 30rem;
    position:relative;
    left:5rem;
}

.lista_contacto{
    list-style: none;
}

.instagram{
    font-size: 3rem;
    position:relative;
    left:5rem;
    top:1.5rem;
    text-decoration: none;
    color:red;
}

.linkedin{
    font-size: 3rem;
    position:relative;
    left:5rem;
    top:2rem;
    text-decoration: none;
    color:red;
}