body{
    background-color: black;
}
.menu-nav{
    margin-top:10px;
    list-style: none;
    padding-left:center;
    background-color: black;
    display:inline-block;
    
}

.menu-nav__item{
    display: inline-block;
    text-align: center;
}
 
.menu-nav__item a{
    text-decoration: none;
    color: white;
    padding:40px;
    padding-right: 125px;
    display: block;
    font-size: 23px;
}

.menu-nav__item a:hover{
    color: gold;
}

.menu-nav__item a::after{
    content: "   |   ";
}
.nombre{
    width: center;
    height: 50px;
    padding: 140px;
    text-align: center;
    font-size: 100px;
    color: white;
}

.about-me{
    width:center;
    text-align: center;
}

.logos{
    width: center;
}

.logos__item{
    width: 40px;
    margin: center;
    display: inline-block;
    position: center;

}