html{
    font-size: 62.5%;
}

.lista_Certificados{
    font-size: 7rem;
    position:relative;
    left:5rem;
}

.lista{
    text-decoration: none;
    position:relative;
    left:5rem;
}
.lista__item a{
    text-decoration: none;
    font-size: 4rem;
    color:white;
}

.menu-nav__item .certificados{
    color:red;
}