/*:root{
    --color_principal: black;
    --color_secundario: red;
    --fuenteprincipal_tamanio:4rem;

    Cuando quiera utilizarlo en alguna clase
    Ejemplo:
    background-color: var(--color_principal);
    font-size:var(--fuenteprincipal_tamanio);
}*/

html{
    font-size: 62.5%; /*sirve para poner 1 rem como si fuera 10px*/
}

body{
    background-color: black;
    color:white;
}
.menu-nav{
    margin-top:1rem;
    list-style: none;
    padding-left:center;
    background-color: black;
    display:inline-block;
    
}

.menu-nav__item{
    display: inline-block;
    text-align: center;
}
 
.menu-nav__item a{
    text-decoration: none;
    color: white;
    padding:4rem;
    padding-right: 12.5rem;
    display: block;
    font-size: 2.3rem;
}

.menu-nav__item a:hover{
    color: gold;
}

.menu-nav__item a::after{
    content: "   |   ";
}
.nombre{
    width: center;
    height: 5rem;
    padding: 14rem;
    text-align: center;
    font-size: 10rem;
}

.about-me{
    width:center;
    text-align: center;
}

.logos{
    width: center;
}

.logos__item{
    width: 4rem;
    margin: center;
    display: inline-block;
    position: center;

}
.menu-nav__item .portafolio{
    color:red;
}